*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
}

.left-side{
background-image: url(img/forest.jpg);
height: 100vh;
flex: 1.2;
min-width: 550px;
}

.right-side{
background-color: red;
height: 100vh;
flex: 2;
}