*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
}

.left-side{
background-image: url();
height: 100vh;
flex: 1.2;
}

.right-side{
background-color: red;
height: 100vh;
flex: 2;
}