*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
}

.left-side{
background-image: url(img/forest.jpg);
height: 100vh;
flex: 1.2;
min-width: 550px;
}

.logo{
    background-color: gray;
    margin-top: 175px;
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin{
    height: 8rem;
}

.odin-text{
    font-size: 8rem;
    font-family: 'norse', sans-serif;
    margin-top: 30px;
    color: white;
}

/* currently working on how to put on bottom */
.credit{
    text-align: center;
    color: white;
}

.right-side{
background-color: red;
height: 100vh;
flex: 2;
}